/*For entire page*/
body {
    background-image: url("background.jpg");
}
/*For h1*/
h1 {
    font-size: 60px;
}
h1 {
    font-family: "Courier New", Courier, monospace;
}
h1 {
    text-align: center;
}
/*For h2*/
h2 {
    font-size: 30px;
}
h2 {
    font-family: "Courier New", Courier, monospace;
}
h2 {
    text-align: center;
}
/*For p*/
p {
    font-size: 20px;
}
p {
    font-family: "Courier New", Courier, monospace;
}
p {
    text-align: left;
}
/*For p*/
h3 {
    font-size: 40px;
}
h3 {
    font-family: "Courier New", Courier, monospace;
}
h3 {
    text-align: left;
}
/*For a*/
a {
    font-size: 30px;
}
a {
    font-family: "Courier New", Courier, monospace;
}
a {
    text-align: left;
}
